# Auto detect text files and perform LF normalization
* text=auto
/build
/dist
/convertmask.egg-info
/.vscode
/convertmask/mask2json_utils/__pycache__
/convertmask/mask2json_utils/__pycache__
/convertmask/mask2json_utils/img2xml/__pycache__
/convertmask/mask2json_utils/methods/__pycache__
/static/testAug
/static/augimgs_
/static/jsons_