# Auto detect text files and perform LF normalization
* text=auto
/build
/dist
/convertmask.egg-info
/.vscode
/convertmask/__pycache__
/convertmask/utils/__pycache__
/convertmask/utils/img2xml/__pycache__
/convertmask/utils/methods/__pycache__
/static/testAug
/static/augimgs_